<launch>

    <!-- Define command line arguments -->
    <arg name="bag_name"
        default="goblet.bag"
        doc="Name of point cloud to load. {chair, cluttered_scene, fork, goblet, mug, toilet}.bag" />

    <arg name="top_k"
        default="50"
        doc="How many grasps to retrieve." />

    <!-- Start a node to pretend to be a depth camera by publishing a PointCloud2 -->
    <node pkg="grasp_synth" type="depth_cam_emulator.py" name="depth_cam_emulator" 
        args="$(arg bag_name)"/>

    <!-- Start rviz for visualization, using our config. -->
    <node  pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find grasp_synth)/config/visualize_grasps.rviz"/>

    <!-- Start node to transform grasp poses into 3D markers for rviz -->
    <node pkg="grasp_synth" type="grasp_pose_to_marker_array.py" name="grasp_pose_to_marker_array" />
    
    <!-- Start node to read point clouds, request grasps, and publish the grasps to the 
    `grasp_synth/grasps` topic. -->
    <node pkg="grasp_synth" type="find_grasp_client.py" name="find_grasp_client" 
        args="$(arg top_k)" />
        
</launch>